@* 
Layout.cshtml - this is the base layout for the Views in the App. 
Consists of standard html mark up:
    head;
    body; 
*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @* include styles defined in BundleConfig.cs *@
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @* include modernizr defined in BundleConfig.cs *@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("70-486", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @* HTML Helpers to create links (link text, action name, controller name)  *@
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Authorize", "Index", "RequireAuth")</li>
                    <li class="dropdown">
                        @* Needed to embed some HTML in to the ActionLink so created the link with HTML instead of the helper, and used Url.Action to create the Url Required in the route *@
                        <a href="@Url.Action("Index", "Demo")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demo <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Index", "Index", "Demo")</li>
                            <li>@Html.ActionLink("Alias", "Alias", "Demo")</li>
                            <li>@Html.ActionLink("Custom Action Filter", "CustomActionFilter", "Demo")</li>  
                            <li>@Html.ActionLink("Razor Syntax", "RazorSyntax", "Demo")</li>       
                            <li>@Html.ActionLink("Inline Razor Syntax", "InlineRazorSyntax", "Demo")</li>                   
                            <li>@Html.ActionLink("Html Helpers", "HtmlHelpers", "Demo")</li>
                            <li>@Html.ActionLink("Using Partial Views", "UsingPartialViews", "Demo")</li>
                            <li>@Html.ActionLink("JQuery UI", "JQueryUi", "Demo")</li>
                        </ul>
                    </li>
                </ul>
                @* HTML Helper to render partial Login View *@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @* Render Page Content *@
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @* include jquery defined in BundleConfig.cs *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/demo");
    @* include bootstrap defined in BundleConfig.cs *@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
